.content{
    width: 100%;
    .musiccontent{
        position: relative;
        height: 425rpx;
        .innermusic{
            width: 425rpx;
            height: 425rpx;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30rpx;
            .musicimg{
                position: relative;
                width: 425rpx;
                height: 425rpx;
                border-radius: 50%;
            }
            .musiccontrol{
                position: absolute;
                width: 120rpx;
                height: 120rpx;
                left: 50%;
                top: 50%;
                margin-left: -60rpx;
                margin-top: -60rpx;
            }
        }
       
        .tag{
            width: 49rpx;
            height: 146rpx;
            position: fixed;
            top: 561rpx;
            left: 26rpx;
        }
    }
    .muscitext{
        text-align: center;
        max-width: 300rpx;
        margin: 120rpx auto 0;
        .musicword{
            text-align: center;
        }
    }
    
}
@keyframes roatein {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.playingmusic{
    animation: roatein 5s infinite linear;
    -webkit-animation: roatein 5s infinite linear;
    transform-origin: center center;
}